# IDE配置文件
.idea/
.eclipse/
.vscode/
*.iml
*.ipr
*.iws

# Gradle缓存
.gradle/

# 编译输出产物
build/
out/
bin/

# Minecraft游戏运行目录
run/
.minecraft/

# MCreator 缓存与备份
.mcreator/workspaceBackups/
.mcreator/userSettings

# 日志文件
*.log
logs/
cache/

# 编译class、工具jar包
*.class
*.jar

# 操作系统文件
.DS_Store
Thumbs.db

# 临时文件
*.tmp
*.bak