.idea/
.eclipse/
.vscode/
*.iml
*.ipr
*.iws

.gradle/
build/
out/
bin/


run/
.minecraft/

elements/
models/
libs/



gradle/wrapper/gradle-wrapper.jar


*.log
logs/
cache/
*.class
*.jar
*.tmp
*.bak


.DS_Store
Thumbs.db